.navbar, .toolbar {
	background:#039370;
}
a{
	color:#006600;
}
a:hover, a:focus{
	color:#00FF00;
}
.logox{
	margin:auto;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	height:50%;
}
.foot{
	margin:auto;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	top:95%;
}*/
